<html>
   <head>
      <title>CHAT DA DOIDERA</title>

	  <link rel="icon" href="design/favicon.ico" th:href="@{design/favicon.ico}">
	  
      <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=0.5">
      
	  <link href="webjars/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
	  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
	  <link href="css/emoji.css" th:href="@{/css/emoji.css}" rel="stylesheet">
      
      <style>
         body {
         background-image: url(https://image.ibb.co/b3s5FK/bg.jpg);
         font-family: Ubuntu;
         font-size: 16px;
         }
         footer {
         bottom:0;
         position:fixed;
         width: 100%;
         background-color: #9933CC;
         }
		 #myBtn 
		 {
			display: none; 
			position: fixed; 
			bottom: 20px; 
			right: 30px; 
			z-index: 99; 
			border: none; 
			outline: none; 
			background-color: gray; 
			color: white; 
			cursor: pointer; 
			padding: 15px;
			border-radius: 10px; 
			font-size: 18px;
		}
		#myBtn:hover 
		{
			background-color: #00BFFF; 
		}
      </style>
   </head>
   <body>
       <br>
	   			
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="js/config.js" th:href="@{/js/config.js}"></script>
		<script src="js/util.js" th:href="@{/js/util.js}"></script>
		<script src="js/jquery.emojiarea.js" th:href="@{/js/jquery.emojiarea.js}"></script>
		<script src="js/emoji-picker.js" th:href="@{/js/emoji-picker.js}"></script>
		<script>
		 $(function() {
        window.emojiPicker = new EmojiPicker({
          emojiable_selector: '[data-emojiable=true]',
          assetsPath: '/img',
          popupButtonClasses: 'fa fa-smile-o'
        });
        window.emojiPicker.discover();
      });
    </script>

      <div class="row" style="text-align: center; width:100%">
         <img src="design/icone.png" th:href="@{design/icone.png}" width = "10%">
      </div>
	  <br>
	  <div class="row" style="text-align: center; width:100%">
       <iframe src="https://open.spotify.com/embed/user/12142801989/playlist/3LqPeP1fWRxtvkCrh4F84l" style="height:80px" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu">
      <br>
      <form method="post" th:action="@{/}" th:object="${message}">
         <div class="container">
            <div class="row">
               <div class="col">
               </div>
               <div class="col">
               </div>
               <div class="col">
                  <b class="text-justify"><font color="white">NOME:</font></b>
                  <input class="form-control form-control-lg" type="text" required="" pattern=".*\S+.*" id="name" name="name" value="" maxlength="255">
               </div>
            </div>
         </div>
         <br>
         <div class="container">
            <div class="row">
               <div class="col">
               </div>
               <div class="col">
               </div>
               <div class="col">
                  <b class="text-justify"><font color="white">MENSAGEM:</font></b>
				  <p class="lead emoji-picker-container">
                  <input class="form-control form-control-lg" type="text" required="" pattern=".*\S+.*" id="msg" name="msg" value="" data-emojiable="true" maxlength="255">
				  </p>
               </div>
            </div>
         </div>
         <div>
            <div class="row" style="padding-left:50%; width:100%; text-align:center;">
               <div>
                  <input class="btn btn-success" type="button" style="font-weight: bold;" onclick="location.reload();" value="REFRESCAR CHAT">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary" type="submit"><b>ENVIAR</b></button>
               </div>
            </div>
         </div>
      </form>
      <br>
      <table class="table table-bordered" style="width: 100%; max-width: 100%; table-layout: fixed;">
         <thead>
            <tr>
               <th style="width:30%">	
                  <font color="white">NOME</font>	
               </th>
               <th style="width:70%">	
                  <font color="white">MENSAGEM</font>	
               </th>
            </tr>
         </thead>
         <tbody>
            <tr th:each="message : ${messages}">
               <td width="30%" class="text-justify">	
                  <font color="white"><span th:text="${message.name}" style="display:block;width:98%;word-wrap:break-word"></font></span>
               </td>
               <td width="70%" class="text-justify">	
                  <font color="white"><span th:text="${message.msg}" style="display:block;width:98%;word-wrap:break-word"></font></span>
               </td>
            </tr>
         </tbody>
      </table>
	  
	  <button onclick="topFunction()" id="myBtn" title="↑ PRA CIMA ↑">↑ PRA CIMA ↑</button>
	  <script>
	  window.onscroll = function() {scrollFunction()};
		function scrollFunction() 
		{
			if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) 
			{
				document.getElementById("myBtn").style.display = "block";
			} else 
			{
				document.getElementById("myBtn").style.display = "none";
			}
		}


		function topFunction() 
		{
			document.body.scrollTop = 0;
			document.documentElement.scrollTop = 0;
		}
	</script>
	
   </body>
   <footer class="page-footer font-small blue">
      <div class="footer-copyright text-center py-3">
         <b><font color="white"> ©Todos Os Direitos Reservados </font></b>&#160;&#160;&#160;<a href="https://github.com/AlexandreHampel/chat-da-doidera" target="_blank"><img src="design/github.png" th:href="@{design/github.png}" width = "3%"></a>
	 </div>
   </footer>
</html>